table.css

#tbl-bdr table,#tbl-bdr td,#tbl-bdr th {
    border-collapse: collapse;
    border:1px solid #333;
    }

.form {
    border-collapse: collapse;
    /* background-color: aqua; */
    width: auto;
    border:3px solid #333;

}

.type, .money_type{
    background-color: #ebe9e9;
}

.type {
    width: 100px;
}
.money_type {
    width:100px;
    
}
.A {
    width: auto;
}
/* td.form {
    border: 2px solid #000;
} */