{% extends "base.html" %}

{% block title %} 個別リスト{% endblock%}

{% block main %}
<!-- <div class="func">
	<form action="{% url 'shoppinglist:list' %}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit"/>
		</form>	
</div> -->


<table class="table">
	<thead class="table-dark">
		<tr>
			<th>状態</th>
            <th>種類</th>
			<th>日付</th>
			<th>相手先</th>
			<th>金額</th>
			<th>登録日</th>
			<!-- <th>表示</th> -->
			<th></th>
			</tr>
		</thead>
		
<tbody>
{% for ledger in object_list %}
	<tr>
		<td>{{ ledger.attachedField }}</td>
        <td>{% if ledger.category == False %} 請求書 {% endif %}{% if ledger.category == True %} 領収書 {% endif %}</td>
		<td>{{ ledger.input_date }}</td>
        <td>{{ ledger.client }}</td>
        <td>{{ ledger.includingTax }}</td>
        <td>{{ ledger.registration_date }}</td>
        <td><a href="{% url 'shoppinglist:approval' %}">編集</a></td>
	</tr>
{% endfor%}
</tbody>
</table>
<ul>
	<!-- <li><a href="{% url 'shoppinglist:add' %}">追加</a></li>
	<li><a href="{% url 'shoppinglist:show' %}">表示</a></li> -->
	<!-- <li><a href="{% url 'shoppinglist:main' %}">main</a></li> -->
	


</ul>

{% endblock%}
