{% extends "base.html" %}
{% block css %}{% static '/css/main.css'%}{% endblock %}
{% block title %} Add {% endblock %}
{% block page_name %}メイン画面{% endblock %}
{% block main %}
<div class="main" >
    <table class="icons" >
     <tr>
         
         <td class="upload">
             <div class="tooltip5" style="text-align: center;">    
             <div style="text-align: center;">
                 <img src="./images/common/database.png"  alt="登録アイコン">
                 <p class="subtitle" >
                     帳簿の登録
                 </p>
             </div>
             <div class="description5">説明を入力</div>                   
             </div>
         </td>
           
         <td class="span"></td>
         <td class="upload">
             <div style="text-align: center;">
                 <img src="./images/common/admin.png"  alt="承認アイコン">
                 <p class="subtitle" >
                     帳簿の承認
                 </p>
             </div>                    
         </td>
         <td class="span"></td>
         <td class="upload">
             <div style="text-align: center;">
                 <img src="./images/common/search.png"  alt="検索アイコン">
                 <p class="subtitle" >
                     帳簿の検索
                 </p>
             </div>
             
         </td>
     </tr>
    </table>

 </div>
{% endblock %}