{% extends "base.html" %}

{% block title %} 個別リスト {% endblock %}

{% block main %}
<form action="{% url 'shoppinglist:register' %}" method="post">
{% csrf_token %}
{{ form_id }}
<input type="submit"/>
<table>
{{ form_id.as_table }}
{{ form.as_table }}
</table>
</form>
   <div id="login">
     <form>
     <table>
        <tr>
        <th>
        <label>種別</label</th>
        <td>
        <dd><legend>どちらかひとつを選択して下さい</dd>
        <input type="checkbox" value="領収書" id="inq1" checked>
         <label for="inq1">領収書</label>
         <input type="checkbox" value="レシート" id="inq2">
         <label for="inq2">レシート</label></td>
        </tr>
        <tr>
        <th><label>日付</label</th>
        <td><input type="date" placeholder="例）2000-11-11"></td>
        </tr>
        <tr>
        <th><label>相手先</label</th>
        <td><input type="text" placeholder="例）〇〇株式会社"></td>
        </tr>
        <tr>
        <th><label>消費税</label</th>
        <td><input type="integer"></td>
        </tr>
        <tr>
        <th><label>税抜金額</label</th>
        <td><input type="integer"></td>
        </tr>
        <tr>
        <th><label>税込金額</label</th>
        <td><input type="integer"></td>
        </tr>
        <tr>
        <th><label>備考</label</th>
        <td><textarea name="comment"></textarea></td>
        </tr>
     </table>
     </form>
   </div>
<ul>
<li><a href="{% url 'shoppinglist:main' %}"><input type="button" value="登録"></a></li>
<li><a href="{% url 'shoppinglist:show' %}"><input type="button" value="キャンセル"></a></li>
</ul>
{% endblock %}